{% extends "guideheader.html" %}
{% block content %}
    <div class="content">
        <div class="text-content">
            <h2>Conclusion</h2>

            <h4>Did Django and Materialize perform to your expectations? </h4>
            <p>Django exceeded our expectations. We thought that learning a new language would pose problems along the way, however Django uses python, a language we were both familar in. Django is also very powerful and simple, much like jQuery in the sense that both use minimal amounts of code to produce big results. Around 10 lines only to create a db which is impressive.</p>
            <p>Materialize met our expectations, after googling around about Materialize could do, we knew what we were getting into.</p>

            <h4>Were Django and Materialize difficult to install or configure?</h4>
            <p>Django in the end was easy to install, but was a long process. Since the server hosting this website is built on ubuntu (our droplet we used on DigitalOcean), Python and Django were simple apt-get and pip installs respectively. There were a lot of forums and videos guiding us through the process, but without them it would have been impossible. Configuration was difficult at times as Django is very strict and specific, but the tradeoff is that when you understand Django simple commands yield powerful results (in the same sense as jQuery).</p>
            <p>Materialize was very simple to install and configure. You just need to link to a Materialize stylesheet, import JQuery, and import the Materialize JavaScript.</p>
            
            <h4>Was it easy to create the page(s) with Django and Materialize? </h4>
            <p>There were actaully a lot of steps to setup and configure before we could use or Django code. Hosting Django applications was a very difficult and long process, all of which had to be done on a terminal. We used DigitalOcean to host our webpage.</p>
            <p>It was very easy to add Materialize components onto the Django website since it's just HTML; a language we have a lot of experience and practice with because of the lectures and labs.</p>
            
            <h4>Was the learning curve steep compared with regular HTML / CSS / Javascript / PHP?</h4>
            <p>For Django, it was steep at the beginnning like anything when you start. But there were a lot of online resources, including multiple youtube tutorials (creating a webpage from start to finish) and interesting videos, which were easy to follow. It was the first time we ever used a backend that enforced a "model-view-template" architecture, which again, was difficult to understand when we started, but picked up as we went along.</p>
            <p>The learning curve was around the same compared to learning HTML/CSS/Javascript/PHP from scratch. Materialize has a lot of documentation online. Once you understand html and how to initilize using JQuery than everything goes pretty smooth, which was one of the lectures we had, so it was easy to build our knowledge from there.</p>
            
            <h4>Would you have done things differently in retrospect? </h4>
            <p>We personally wouldn't. This was a great experience working with these front and back ends. They were simple to understand once we got the hang of it and there are a lot of resources online that helped us grasp concepts.</p>
            <p>This was our first time creating a website with multiple pages, and everything went smoothly. So if it ain't broke don't fix it :)</p>
            
            <h4>Did you regret your choice of frameworks?</h4>
            <p>No. When we were looking through the choices of possible front end and back end combinations we knew we wanted to use django after getting the hang of it and Materialize was simple to understand from the get go.</p>
        </div>
    </div>
{% endblock %}
