{% extends "guideheader.html" %}
{% block content %}
<div class="content">
        <div class="text-content">
            <h2>Credits</h2>
            <div class="row">
                <div class="column">
                    <img src="https://i.imgur.com/bxikcVP.jpg?1" class="profiler"/>
                    <h4>Nikola Pavlovic</h4>
                    <ul>
                        <li>Tutorial and Demo website front-end</li>
                        <li>Documentation</li>
                    </ul>
                </div>
                <div class="column">
                    <img src="https://i.imgur.com/AelPfvy.jpg?1" class="profiler"/>
                    <h4>Ryan Soliven</h4>
                    <ul>
                        <li>Tutorial + demo website back-end</li>
                        <li>Documentation</li>
                    </ul>
                </div>
            </div>
            <h3>References</h3>
            <p><a href = "https://fonts.google.com/specimen/Lato">Lato Font</a></p>
            <p><a href = "https://docs.djangoproject.com/en/2.1/">Django</a></p>
            <p><a href = "https://materializecss.com/">Materialize</a></p>
            <p><a href = "https://www.digitalocean.com/community/tutorials/how-to-set-up-django-with-postgres-nginx-and-gunicorn-on-ubuntu-16-04">DigitalOcean Setup</a></p>
        </div>
    </div>
{% endblock %}
