{% extends "guideheader.html" %}
{% block content %}
<div class="content">
        <div class="text-content">
            <h3>Materialize Demo</h3>
            <h5>CSS and Buttons</h5>
            <p>Materialize CSS is a great framework for making webpages that are visually appealing as it uses the Google design methods that focuses on user experience.
            <br>Materialize has a large colour palette to choose from. This allows for a great amount of customizability when creating backgrounds, panels, buttons, or text.</p>
            <p>In this tutorial we have five teal buttons with white text. To change the shade of teal simpily type: <br> lighten/darken-(amount) <br> Where lighten makes the colour brighter and darken makes it darker.</p>
            <!-- <img src="https://i.imgur.com/OhQepn0.png" class = "regularpic"/><br><br> -->
            <div class="card-panel"><xmp>
            <a class="btn-large teal lighten-2 white-text btn">Button</a>
            <a class="btn-large teal lighten-1 white-text btn">Button</a>
            <a class="btn-large teal white-text btn">Button</a>
            <a class="btn-large teal darken-1 white-text btn">Button</a>
            <a class="btn-large teal darken-2 white-text btn">Button</a>
            </xmp></div>
            <a class="btn-large teal lighten-2 white-text btn">Button</a>
            <a class="btn-large teal lighten-1 white-text btn">Button</a>
            <a class="btn-large teal white-text btn">Button</a>
            <a class="btn-large teal darken-1 white-text btn">Button</a>
            <a class="btn-large teal darken-2 white-text btn">Button</a>
            <br>

            <h5>Images</h5>
            <p>To display images you have the options to choose between cards, material boxes, and parrallax. In this tutorial, we show you how to use parrallax. Parrallax is easy to implement but also needs to be imported throught jQuery.</p>
            <div class="card-panel">The Parrallax component<xmp>
                 <div class="parallax"><img src="https://i.cbc.ca/1.5175344.1560502192!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_780/1155815863.jpg"/></div>
            </xmp>
            </div>
        </div>
    </div>
            <div class="parallax-container">
            <div class="parallax"><img src="https://i.cbc.ca/1.5175344.1560502192!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_780/1155815863.jpg"/></div>
            </div>
    <div class="content">
            <div class="text-content">
            <p>Materialize can set certain CSS styles or hide certain content depending on the device. <br>
            To have parrallax work on mobile devices, the height of the image must to be lowered since the image height of parrallax is set to 500 pixels by default.
            </p>
            <div class="card-panel"><xmp>
                 @media only screen and (max-width: 600px) {
                    .parallax-container {
                        height: 150px;
                    }
                }
            </xmp></div>

            <p>Another method included in this demo is material boxes. These images show when hovered over as it lightens the image. Also, when clicked, the full size of the image will be displayed along with a caption. This must also be initialized through jQuery.
            <div class="card-panel"><xmp>
             $('.materialboxed').materialbox();
            </xmp></div>
            <div class="card-panel"><xmp>
            <img class="materialboxed image" width="650" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Kobe_Bryant_2014.jpg/629px-Kobe_Bryant_2014.jpg" data-caption="Kobe Bryant 2014"/>
            </xmp></div>
                <img class="materialboxed image" width="650" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Kobe_Bryant_2014.jpg/629px-Kobe_Bryant_2014.jpg" data-caption="Kobe Bryant 2014"/>
            <h3>Django Demo</h3>
            <p>
                For our demo, we used Django as a backend framework to display Django's model-view-template capabilities. 
            </p>
            <p>
                What is model-view-template?
            </p>
            <p>
                To begin, a <b>model</b> is a subclass of Django’s Models class that maps each subclass to a database table. It creates the database table and parameters to store the websites information. It’s used to generate dynamic pages easily, as it allows for the automatic creation of databases.
            </p>
            <p>
                A <b>view</b> is used by Django to tell which files to draw to the screen when called by a url. 
            </p>
            <p>
                A <b>template</b> is used by Django views to display content on the users screen, generally in HTML files. Django uses a special templating engine, called jinja, which adds logical operators to HTML code. 
            </p>
            <p>
                Now let's create a Django website, by exploring templating.
            </p>
            <img src ="https://i.imgur.com/svi5erA.png" class = "regularpic"/>
            <p>
                Django’s jinja templating allows developers to avoid unnecessarily repeating code, while maintaining consistent design. As highlighted by sections ( 1 ) and ( 2 ) in the above image, we can split the jinja template into two sections, the header ( 1 ) and the main content. Here, our header and main content files are created in completely separate HTML files, connected by jinja. Using nested content blocks in our jinja templates which when compiled by jinja connect the two HTML pages, allows for the repeated use of HTML code. This is how the markup would look to connect the files above:
            </p>
            <p>
                Header ( 1 ):
            </p>
            <img src ="https://i.imgur.com/5PY4Jda.png" class = "regularpic"/>
            <p>
                Main Content ( 2 ):
            </p>
            <img src ="https://i.imgur.com/yV8Enh4.png" class = "regularpic"/>
            <p>
                As you can see, the tags embedded in the code is jinja markup. The 
            </p>
            <p class = "code">
                {{ '{% block content %} {% endblock %}' }}
            </p>
            <p>
                markup in the header code ( 1 ) tells jinja where to insert HTML code when the header file is extended. In the main content file ( 2 ), the 
            </p>
            <p class = "code">
                {{ '{ % extends “header.html” %}' }} 
            </p>
            <p>
                markup calls the header file to insert this HTML into the block content tags in the Header file. The 
            </p>
            <p class = "code">
                {{ '{% block content %} {% endblock %}' }}
            </p>
            <p>
                markup tells what HTML code in the main content file is to be inserted into the header HTML.
            </p>
            <p>
                Finally, we need to tell Django what HTML to load in each URL. This is where views help us. 
            </p>
            <p>
                A simple view, as seen on the imageboard homepage, allows us to associate and render a view when a url is called. For example:
            </p>
            <img src ="https://i.imgur.com/IYGXk8k.png" class = "regularpic"/>
            <p>
                is all that is needed to tell django to render the homepage. This function takes the request generated by Django, which displays the homepage html, and passes the request on. 
            </p>
            <p>
                A more complex view, like what is needed to display the form associated with our database, looks like this: 
            </p>
            <img src ="https://i.imgur.com/necQ1uq.png" class = "regularpic"/>
            <p>
                This form method accepts a user request, checking if either the user requested a POST or GET. If POST, the user is attempting to submit form information. The method attempts to submit the information to a form if its valid, and if it is, it redirects back to the homepage after saving to the database. If they request a GET method, they are trying to access the form to enter information, so it renders the form HTML while also passing a variable to the jinja code. The called form allows the user to interact with the database. 
            </p>
            <p>
                Finally, in order for our website to display the data, we must use Django models. 
            </p>
            <p>
                Django models are made of python code that allow for the automatic generation of entire databases.
            </p>
            <img src ="https://i.imgur.com/H5V75nU.png" class = "regularpic"/>
            <p>
                This entire class tells Django how to generate the information we need. The title, name, link, and date_submitted all generate columns within SQLite while restrictions are being set. There is no need to ever write SQLite database code, as Django handles everything for you.
            </p>
            <p>
                Now that we’ve covered how Django utilizes the model-view template, we must now look at how to retrieve user data from the database, and store it.
            </p>
            <img src = "https://i.imgur.com/jJbodMp.png" class = "regularpic"/>
            <p>
                Here we can see the same header we had on the first page, in ( 1 ). As explained on the demo’s home page, we tell it to reuse our already defined code and nest the new page into it. What is different on this page is the form, highlighted in ( 2 ).
            </p>
            <p>
                This a styled form element entirely generated by Django. Here is the code written in jinja and interpreted by Django:
            </p>
            <img src ="https://i.imgur.com/Joz7lJn.png" class = "regularpic"/>
            <p>
                The entire form will be generated by the variable  &lbrace;&lbrace; 'form.as_p ' &rbrace;&rbrace; , telling Django to write the form, but set all applicable tags to paragraph tags. Where is the form coming from?
            </p>
            <img src ="https://i.imgur.com/necQ1uq.png" class = "regularpic"/>
            <p>
                The final line shows that the code returns a render. In the render, at every end, you see &lbrace;‘form’: form&rbrace;. This is telling Django to pass the form view to the target page to be accessed by jinja, as seen in the &lbrace;&lbrace; form.as_p &rbrace;&rbrace;.
            </p>
            <p>
                Now, we explore how the data is actually accessed to be displayed.
            </p>
            <p>
                Since the data is from a database, we need to implement a loop in order to retrieve the data when a user enters the page. 
            </p>
            <p>
                TDjango and jinja make this very easy to do, as seen below:
            </p>
            <img src ="https://i.imgur.com/vQgHuaF.png" class = "regularpic"/>
            <p>
                The code shown retrieves all the items post in object_list, where the object_list is the entire collection of database rows, and post is each individual database row. TEmbedded in the html header and image code are the jinja variables that are used in grabbing select column values from each post to be inserted. This loop continoues until no more posts are left in the database, dynamically generating html per post.
            </p>
            <p>
                In conclusion, this demo provides an understanding of Django and the template-view-model architecture, and how to connect forms and databases together to create user generated content.
            </p>
        </div>
    </div>
            <!--Import jQuery before materialize.js-->
         <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
         <script>
         $(document).ready(function(){
        //Parallax
            $('.parallax').parallax();
        //Material box
            $('.materialboxed').materialbox();
        //Floating Action Button
            $('.fixed-action-btn').floatingActionButton();        
         });
        </script>
{% endblock %}
