{% extends "guideheader.html" %}
{% block content %}
	<!-- Division -->
	<div class="topnav">
		&nbsp <br>
		&nbsp
	</div>

	<!-- Paragraphs and content -->
	<div class="content">
		<div class="text-content">
			<div class="frameworkpic">
				<img src="https://front.id/sites/default/files/2017-05/materialize.png" style="width:500px;height:300px;"> <!-- Put alternate image -->
			</div>

			<h3>Materialize CSS</h3>
			 <p>"Created and designed by Google, <a href="https://materializecss.com/ ">Materialize</a> is a design language that combines the classic principles of successful design along with innovation and technology. Google's goal is to develop a system of design that allows for a unified user experience across all their products on any platform.
			The framework is also known to be a simpler one so that users can get started fast." (Taken from Materialize website)
  </p>			<h5>Strengths</h5>
				<p>"Materialize.css uses a grid system (much like bootstrap) which allows users to create page layouts. Other strengths include: 
				1. Speeds up development (We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.) 
				2. User Experience Focused (By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.) 
				3. Easy to work with (We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.)" Points taken from materializecss website.
				</p>
				
				<h5>Weaknesses</h5>
					<p> "Materialize weaknesses include: 1. Materialize CSS does not support some old web browsers. 
					2. CSS files in Materialize CSS are very large in size and heavy. 3. Certain nesting of elements is handled properly by Materialize CSS." Refer to this <a href="https://www.markupbox.com/blog/top-5-popular-css-frameworks-of-2017/">website</a> for more details. 
					</p>
			
			<br> <br>
			
			<div class="frameworkpic">
				<img src="https://3.bp.blogspot.com/-IW-uGbHmD0g/WczJvppx3_I/AAAAAAAAAIg/7ABfZt_XSs8i7cz4D0u3wUgWVweCzCI1gCLcBGAs/s1600/python-django_big.png" alt="https://i.imgur.com/CWKv7GB.png" style="width:500px;height:300px;">
			</div>
				
			<h3>Django Python</h3>
				<p>"Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of Web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source." (taken from Django website), to learn more about Django click the link:  
	<a href="https://www.djangoproject.com/">Django</a>. The framework is based on Python, which is considered to be very popular in todays world. 
	<a href="https://www.youtube.com/">Youtube</a> and <a href="https://www.google.com/">Google</a> are based on Django and there are many more. 
	</p>
			
				<h5>Strengths</h5>
					<p>"Django's strengths include: 1. Ridiculously fast (Django was designed to help developers take applications from concept to completion as quickly as possible.)
					2. Reassuringly secure (Django takes security seriously and helps developers avoid many common security mistakes.) 3. Exceedingly scalable (Some of the busiest sites on the Web leverage Django’s ability to quickly and flexibly scale. This includes Instagram, Youtube, Google and many more)
					4. Incredibly versatile (Companies, organizations and governments have used Django to build all sorts of things — from content management systems to social networks to scientific computing platforms.)" Refer to the <a href="https://www.djangoproject.com/">Django</a> website for more details.
						
					</p>
				
				<h5>Weaknesses</h5>
				<p>"Django's weaknesses include: 1. Regex to specify its URL (You can create simple and easy-to-read URLs. However, Django uses regex to specify its URL routing patterns and that makes the code larger and creates complicated syntaxes.) 2. While maintaining backwards compatibility, it's moving far too slowly 
				(The framework has dedicated itself to backwards compatibility. What does that mean? It tends to get bigger and heavier over time. Speed is a valid issue even in Python, but Django has explicitly chosen to designate other stuff. Django worries more about dev productivity and backwards compatibility than its speed.) 
				3. It feels like it has too much software for minor projects (Vast functionality and heavy structure are always with you, even if it is not used for simple stuff. A framework is a complex tool for simple usages, so if you ready to face with low flexibility, put your heart and soul into it.)" Refer to this <a href="https://datafloq.com/read/advantages-and-disadvantages-of-using-django/3050">website</a> for more details.

				</p>
			</div>
		</div>
{% endblock %}
